/**
    * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
    *
    * To overcome this, create media queries that target the width, height, and orientation of iOS devices.
    * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing
    * the height of element '.scrollable-menu' —which is a full width and height cover image.
    *
    * iOS Resolution Quick Reference: http://www.iosres.com/
    */

.scrollable-menu {
  height: 100vh !important;
  width: 100vw;
  overflow-x: hidden;
}


/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .scrollable-menu {
    height: 1024px !important;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .scrollable-menu {
    height: 768px !important;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .scrollable-menu {
    height: 500px !important;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-toggle:focus {
  outline: 0
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px
}

/*!
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see http://creativecommons.org/licenses/by/3.0/.
 */

.bd-pageheader {
  padding: 2rem .9375rem;
  margin-top: 50px;
  margin-bottom: 1.5rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #563d7c
}

.bd-pageheader h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff
}

.bd-pageheader p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300
}

@media (min-width: 34em) {
  .bd-pageheader {
    padding-top:4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left
  }

  .bd-pageheader .carbonad {
    margin: 2rem 0 0!important
  }
}

@media (min-width: 62em) {
  .bd-pageheader h1,.bd-pageheader p {
    margin-right:380px
  }

  .bd-pageheader .carbonad {
    position: absolute;
    top: 0;
    right: .75rem;
    margin: 0!important
  }
}

@media (min-width: 48em) {
  .bd-pageheader h1 {
    font-size:4rem
  }

  .bd-pageheader p {
    font-size: 1.5rem
  }

  .bd-sidebar {
    padding-left: 1rem
  }
}
